* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 26px;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

body > div {
    margin: auto;
}

/* toast messages */
#toast {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 6px solid;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.44);
    padding: 10px 0;
    min-width: 400px;
    max-width: 450px;
    animation: sliderInLeft ease .3s, fadeOut linear 1s 2.5s forwards;
}

@keyframes sliderInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 28px));
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(calc(100% + 28px));
    }
}

.toast + .toast {
    margin-top: 20px;
}

.toast__icon,
.toast__close {
    padding: 16px 20px;
}

.toast__icon {
    font-size: 24px;
}

.toast__body {
    flex-grow: 1;
}

.toast__tittle {
    font-size: 20px;
}

.toast__msg {
    opacity: 0.5;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.6;
}

.toast__close {
    color: #ccc;
    cursor: pointer;
}

.toast__close:hover {
    color: #000;
    background-color: #ccc3;
    border-radius: 10px;
}

.toast--success {
    border-color: green ;
}

.toast--success .toast__icon {
    color: green;
}

.toast--info {
    border-color: blue;
}

.toast--info .toast__icon {
    color: blue;
}

.toast--warning {
    border-color: #ffa500bd;
}

.toast--warning .toast__icon {
    color: #ffa500bd;
}

.toast--error {
    border-color: red;
}

.toast--error .toast__icon {
    color: red;
}

/* button */
.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px 48px;
    border-radius: 50px;
    min-width: 160px;
    user-select: none;
    font-size: 18px;
    user-select: none;
}

.btn + .btn {
    margin-left: 8px;
}

.btn--size-s {
    padding: 6px 32px;
}

.btn--size-l {
    padding: 14px 56px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ebd726;
}

.btn--error {
    background-color: #ca3f46;
} 

.btn--disable {
    opacity: 0.5 !important;
}

.btn--disable:hover {
    cursor:default;
}
